@charset "UTF-8";

//定义常用变量
$error-color:#ed3f14;
$primary-color: #2d8cf0;
$warning-color: #ff9900;
$success-color: #19be6b;
$light-parimary-color: #5cadff;
$font-dark-color:#999;

$calendar-green:#2dd6aa;
$light-dark-color:#9fa1a9;
$dark-color:#424857;
$border-dark-color:#e9eaec;
$bg-hover-color:#ebf7ff;